.heroDetails {
  position: absolute;
  top: 30%;
  left: 10%;
  cursor: default;
}

.txt {
  color: #19258e;
  font-size: 50px;
  margin-bottom: 5px;
}

.heroSubheader {
  color: #8490fa;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: url(backgroundPS.jpg);

  position: relative;
  overflow: hidden;
}

.HeroPolyghon {
  position: absolute;
  width: 100vw;
  bottom: -8%;
}

@media (min-width: 1400px) {
  .container {
    background-size: cover;
  }
}

@media (max-width: 1250px) {
  #scene {
    display: none;
  }
}

.mixBlnd {
  background-blend-mode: screen;
}
