.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(180deg, #2f3fce 0%, #7155e2 100%);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.containers {
  position: relative;
  overflow: hidden;
}

.splash {
  width: 100vw;
  position: absolute;
  left: 0%;
  bottom: 15%;
}

.heroGuy {
  margin-bottom: 40px;
  z-index: 11;
}

.heroDetails {
  cursor: default;
  margin-left: 10%;
  min-width: 600px;
  z-index: 110;
  margin-bottom: 150px;
}

.txt {
  color: white;
  font-size: 50px;
  margin-bottom: 5px;
}

.heroSubheader {
  color: #cacde6;
  font-size: 21px;
  margin-bottom: 30px;
}

.HeroPolyghon {
  position: absolute;
  width: 100vw;
  bottom: -7%;
  z-index: 100;
}

@media (min-width: 1400px) {
  .container {
    background-size: cover;
  }
}

@media (max-width: 1020px) {
  .txt {
    font-size: 35px;
  }

  .heroSubheader {
    font-size: 16px;
    max-width: 400px;
  }
}
@media (min-height: 600px) {
  .heroDetails {
    padding: 0 auto;
    margin-top: 150px;
  }
}

@media (max-width: 820px) {
  .heroDetails {
    padding: 0 auto;
    margin-top: 100px;
  }

  .txt {
    font-size: 30px;
  }

  .heroSubheader {
    font-size: 12px;
    max-width: 300px;
  }
  .splash {
    height: 100vw;
  }
}

@media (max-height: 900px) {
  .heroDetails {
    padding: 0 auto;
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .splash {
    transform: rotate(245deg);
    left: 3%;
    height: 1200px;
    top: -45%;
  }
}

@media (max-width: 400px) {
  .txt {
    font-size: 24px;
  }
  .heroSubheader {
    font-size: 14px;
    max-width: 200px;
  }
  .heroGuy {
    z-index: 11;
  }
}
