.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: url(backgroundPS.jpg);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.containers {
  position: relative;
  overflow: hidden;
}

@media (min-width: 1450px) {
  .sceneMedium {
    display: none;
  }
}

.staticIcons {
  display: inline-block;
  position: absolute;
  top: -420px;
  right: 3%;
  opacity: 0.2;
}

.heroDetails {
  cursor: default;
  margin-left: 10%;
  min-width: 600px;
}

.txt {
  color: #003db3;
  font-size: 50px;
  margin-bottom: 5px;
}

.heroSubheader {
  color: #80abff;
  font-size: 21px;
  margin-bottom: 30px;
}

.HeroPolyghon {
  position: absolute;
  width: 100vw;
  bottom: -7%;
  z-index: 100;
}

@media (min-width: 1400px) {
  .container {
    background-size: cover;
  }
}

@media (max-width: 1250px) {
  #scene {
    display: none;
  }
}

@media (max-width: 1020px) {
  .container {
    align-items: flex-start;
  }

  .heroDetails {
    margin-top: 200px;
  }

  .txt {
    font-size: 35px;
  }

  .heroSubheader {
    font-size: 16px;
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .heroDetails {
    padding: 0 auto;
    margin-top: 100px;
  }

  .txt {
    font-size: 30px;
  }

  .heroSubheader {
    font-size: 12px;
    max-width: 300px;
  }
}

@media (max-width: 360px) {
  .txt {
    font-size: 24px;
  }
  .heroSubheader {
    font-size: 14px;
    max-width: 200px;
  }
}
