.about-container {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
  z-index: 10;
  background: red;
}

.ProjectPoly {
  position: absolute;
  top: -22%;
  left: -10%;
}

@media (min-width: 1350px) {
  .ProjectPoly {
    position: absolute;
    top: -13%;
    width: 100vw;
  }
}

.LaptopNerd {
  justify-self: center;
  margin: 0 auto;
  display: flex;
  margin-top: -100px;
  margin-bottom: 50px;
}
