.about-container {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
  z-index: 10;
}

.LaptopNerd {
  justify-self: center;
  margin: 0 auto;
  display: flex;
  margin-top: -100px;
  margin-bottom: 50px;
}

.heroP {
  font-size: 100px;
  color: #0057ff;
}

.heroP.left {
  padding-bottom: 30px;
}

.heroP.right {
  margin-bottom: -130px;
}
