.form-container {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.form-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-img {
  width: 20%;
}

.form-content-right {
  margin-top: -40px;
  color: #fff;
  padding: 50px 50px 20px 50px;
  max-width: 600px;
  margin-bottom: 30px;
}

.form-img-2 {
  width: 44%;
  margin-top: 60px;
}

.close-btn {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: underline;
}

.contact-section {
  max-width: 800px;
  margin-top: 10px;
  padding: 10px 0 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > h1 {
  color: white;
  margin: 10px 0;
  font-size: 21px;
  cursor: default;
}

.form {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 20px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.austronaut-game {
  margin: 10px 0 50px 0;
  position: relative;
}

.austronaut {
  z-index: 1;
  opacity: 1;
}

.space-container {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.austronaut-text {
  color: white;
}

@media (min-width: 1024px) {
  .form-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .austronaut-game {
    margin-right: 150px;
    margin-left: -100px;
    margin-bottom: 200px;
  }

  .austronaut {
    width: 30vw;
    z-index: 200;
  }

  .space-container {
    width: 300px;
    height: 40vh;
    position: absolute;
    top: 140%;
    left: -30%;
    z-index: 1;
  }

  .form-img {
  }

  .form-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .form > h1 {
    font-size: 16px;
  }

  .form-container {
    padding: 60px 20px;
  }

  .form-img {
    width: 30%;
  }

  .form-img-2 {
    width: 50%;
    margin-top: 30px;
  }

  .close-btn {
    font-size: 20px;
  }

  .form-content-right {
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .austronaut-game {
    margin: 10px 0 50px 0;
    width: 100vw;
    height: 600px;
    overflow: hidden;
  }

  .austronaut {
    opacity: 1;
    height: 90%;
    position: relative;
    overflow: hidden;
  }

  .space-container {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 0%;
  }
}

@media screen and (max-width: 400px) {
  .form-img-2 {
    width: 92%;
    margin-top: 50px;
    margin-left: 6px;
  }

  .form-container {
    padding: 60px 0px;
  }

  .form-content-right {
    padding: 0 10px;
    margin-top: 0px;
  }

  .form > h1 {
    font-size: 13px;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  z-index: 2;
}

.s1 {
  top: 50px;
  left: 50px;
}

.s2 {
  top: 10px;
  left: 80px;
}

.s3 {
  top: 90px;
  left: 100px;
}

.s4 {
  top: 130px;
  left: 40px;
}

.s5 {
  top: 25px;
  left: 160px;
}

.s6 {
  top: 15px;
  left: 300px;
}

.s7 {
  top: 70px;
  left: 365px;
}

.s8 {
  top: 30px;
  left: 425px;
}

.s9 {
  top: 90px;
  left: 460px;
}

.s10 {
  top: 120px;
  left: 408px;
}

.shootingstar {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
  top: 31px;
  left: 375px;
  animation: shoot 5s infinite;
}

.shootingstar2 {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
  top: 20px;
  left: 380px;
  animation: shootreverse 5s infinite;
}

#animate {
  animation: glow 4s infinite;
}

@media (max-width: 600px) {
  .shootingstar {
    left: 300px;
  }

  .shootingstar2 {
    left: 305px;
  }

  .s10,
  .s9,
  .s8,
  .s7 {
    display: none;
  }
}

/* all the animation goes here */

@keyframes shoot {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
    width: 20px;
  }
  60% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
    transform: translateX(-350px);
  }
}

@keyframes glow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shootreverse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
    width: 30px;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    transform: translateX(-250px);
  }
}
