section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  padding: 0px;
  align-items: center;
  position: relative;
  width: 350px;
  height: 230px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.logo {
  width: 350px;
  height: 230px;
}

.card .view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transform-style: preserve-3d;
  transition: 1s;
  backface-visibility: hidden;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.card:hover .view.front {
  transform: rotateY(-180deg);
}

.card .view.back {
  transform: rotateY(-180deg);
}

.card:hover .view.back {
  transform: rotateY(-360deg);
}

@media screen and (max-width: 500px) {
  .card {
    width: 290px;
    height: 175px;
  }

  .logo {
    width: 290px;
    height: 175px;
  }
}

@media screen and (max-width: 300px) {
  .card {
    width: 250px;
    height: 200px;
  }

  .logo {
    width: 250px;
    height: 200px;
  }
}
